{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="../static/css/menu.css" rel="stylesheet" type="text/css">
    <link href="../static/css/theme.css" rel="stylesheet" type="text/css">
</head>
<body style="display: flex;">
    {% include "./menu.html" %}
    <div style="width: 20%; height: 100%; display: flex; position: relative;"></div>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 8px; height: 100%; width: 100%;">
        
            {% include "./login_template.html" %}
        
    </div>
</body>
</html>