{% load django_browser_reload %}
{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="../static/css/menu.css" rel="stylesheet" type="text/css">
    <link href="../static/css/theme.css" rel="stylesheet" type="text/css">
</head>
<body style="display: flex;">
    {% include "./menu.html" %}
    <div style="min-width:300px; width: 20%; height: 100%; display: flex; position: relative;"></div>
    <form style="width: 100%; display: flex; max-height: 50px;" >
        
        <input type="text" name="searchInput" id="searchInput" placeholder="Type something to search" style="width: 100%;">
        <label for="searchButton" style=" padding: 10px; display: flex; align-items: center; justify-content: centerF; background-color: #AA5EF6; cursor: pointer;"> <i class="fa-solid fa-magnifying-glass" ></i></label>
        <input type="button" value="submit" name="searchButton" style="display: none;">
    </form>
</body>
</html>